ul{
    display: flex;
list-style-type: none;
margin: 0px ;
padding: 0px;
border: 3px solid black;
border-radius: 7px;
justify-content: space-between;
}
nav ul li{
    margin-right: 2px;
    
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;

}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(153, 153, 229);
    margin: 0px;
    padding: 10px;


}

th{
    border: 2px solid green;
    border-radius: 13px;
}
td{
    border: 1px solid blue;
    border-radius: 10px;
}
table{
    border: 3px solid pink;
    border-radius: 7px;
}
body{
    background-image: url(people.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#icon{
    border-radius: 50%;
    border: 2px solid black ;
}